    body {

        background-color: #252424;
    }

    .head {
        font-family: sans-serif;
        color: #e07918f8;
        background-color: #0450b3;
        border: 5px solid black;
    }

    .ahead {
        text-decoration: none;
        color: #e07918f8;
    }

    img {
        height: 150px;
        width: 150px;
        margin: -100px 20px 0px -10px;
    }

    .marinhohub {
        font-size: 39px;
        width: 320px;
        margin: 40px 130px;
        text-align: center;
    }

    .cursos {
        width: 200px;
        margin: -95px 20px 0px 520px;
        text-align: center;
    }

    .certificado {
        width: 200px;
        margin: -45px 20px 0px 780px;
        text-align: center;
    }

    .sobremim {
        width: 200px;
        margin: -45px 20px 0px 1045px;
        text-align: center;
    }

    .links {
        width: 200px;
        margin: -45px 20px 0px 1300px;
        text-align: center;
    }
    
    .info {
        font-family: Arial;
        font-size: 20px;
        color: white;
        background-color: #e01818f8;
        border: 5px solid #0450b3;

    }

    .bemvindo {
        width: 230px;
        margin: 5px 20px 0px 1266px;
        text-align: center;
    }

    .portfolio {
        font-family: Arial;
        font-size: 20px;
        text-align: center;
        width: 230px;
        margin: 10px 20px 0px 1266px;
    }

    .texto {
        color: white;
        font-family: arial;
        font-style: bold;
        font-size: 30px;
    }